<h1>About</h1>
<p>This is full stack web application to take notes on.</p>
<p>Version: 1.0.0</p>

<ul>
    <li>Front-end: HTML5, CSS3, and JavaScript ES6+ alongside Bootstrap.</li>
    <li>Back-end: Node.js, Express.js, and Handlebars.js</li>
    <li>Database: MongoDB via Node's Mongoose implementation.</li>
    <li>Build tools: NPM and Git/Github</li>
</ul>