<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down notes on an online journal.</p>
  <a href="/notes/add" class="btn btn-dark btn-lg">Add Note</a>
</div>